.git/
.idea/
vendor/
node_modules/
app/storage/
bootstrap/cache/
bootstrap/compiled.php

.env.*.php
.env.php
.env.production
Homestead.yaml
Homestead.json
*.sublime-project
*.sublime-workspace
*.DS_Store

